* {
    font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0 0 10px 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    margin: 15px 0;
}

.header-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.admin-approval {
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 50px;
}

.pending {
    color: rgb(82, 57, 7);
    background-color: rgb(255, 223, 163);
}

.not-submitted {
    color: rgb(7, 21, 82);
    background-color: rgb(222, 228, 255);
}

body {
    margin: 100px 100px;
    width: 80%;
    max-width: 1000px;
}

.card {
    background-color: rgb(247, 247, 255);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 40px;

    width: 950px;
    height: 210px;
}

table.schedule {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
}

.schedule td {
    border-left: 1px solid rgb(176, 176, 216);
    padding: 0;
}

.day-col {
    width: 50px;
}

.total-col {
    width: 85px;
}

.hour-label {
    border-left: 1px solid rgb(176, 176, 216);
    text-align: left;
    padding: 7px 5px;
}

.week-total {
    font-weight: bolder;
    color:rgb(74, 74, 133);
}

.day-name {
    color:rgb(74, 74, 133);
    text-align: right;
    padding-right: 6px;
}

.hour-blocks {
    display: flex;
    flex-direction: row;
    width: 100%;
    user-select: none;
    touch-action: none;
}

.hour-blocks div {
    flex: 1;
    height: 35px;
    box-sizing: border-box;
}

.block {
    background-color: rgb(224, 224, 255);
}

.active {
    background-color: rgb(17, 17, 185);
}

.block.edit {
    border: 1px solid rgb(231, 231, 255);
}

.active.edit {
    border: 1px solid rgb(91, 91, 214);
}

.schedule td.total {
    text-align: left;
    padding-left: 6px;
}

.day-total {
    color:rgb(129, 129, 184);
}

.card h2 {
    font-weight: normal;
    margin: 0 0 10px 0;
}

table.user-list {
    margin-left: 20px;
}

table.user-list td {
    padding: 5px;
}

.student-name {
    font-weight: bold;
    min-width: 100px;
}


button {
    border: none;
    padding: 7px 15px;
    min-width: 100px;
    border-radius: 10px;

    background-color: rgb(17, 17, 185);
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: rgb(3, 3, 138);
}

button.cancel {
    background-color: rgb(255, 212, 212);
    color: rgb(66, 29, 29);
    /* border: 1px solid rgb(66, 29, 29); */
}

button.cancel:hover {
    background-color: rgb(250, 199, 199);
}

.hidden {
    display: none;
}

.status-message {
    width: fit-content;
    font-size: 16px;

    color: rgb(26, 34, 61);
    background-color: rgb(214, 223, 253);

    margin-top: 15px;
    padding: 15px 15px;
    border-radius: 10px;
}

.status-message:empty {
    display: none;
}

.success {
    color: rgb(37, 66, 29);
    background-color: rgb(196, 255, 181);
}

.failure {
    color: rgb(66, 29, 29);
    background-color: rgb(255, 181, 181);
}

.status-message ul {
    font-size: 14px;
    /* color: rgb(63, 107, 50); */
    padding-left: 20px;
    margin: 5px 0;
}

