{{ define "admin-dashboard" }}
<div id="admin-dashboard">
    <div class="card">
        <table class="user-list">
            <tr>
                <td class="student-name"><span>student1</span></td>
                <td>
                    <div class='admin-approval
                        {{ if eq .StudentSchedule.ApprovalStatus "" }}hidden
                        {{ else if eq .StudentSchedule.ApprovalStatus "Not Submitted" }}not-submitted
                        {{ else if eq .StudentSchedule.ApprovalStatus "Pending Approval" }}pending
                        {{ else if eq .StudentSchedule.ApprovalStatus "Approved" }}success
                        {{ else if eq .StudentSchedule.ApprovalStatus "Rejected" }}failure{{ end }}'
                    >{{ .StudentSchedule.ApprovalStatus }}</div>
                </td>
                <td>
                    {{ if ne .StudentSchedule.ApprovalStatus "Not Submitted" }}
                        <button
                            hx-get="/admin/view"
                            hx-target="#admin-dashboard"
                            hx-swap="outerHTML"
                        >View</button>
                    {{ end }}
                </td>
                <td>{{ .StudentSchedule.ApprovalMessage }}</td>
            </tr>
        </table>
    </div>
</div>
{{ end }}
