<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Scheduler</title>

    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Shift Scheduler</h1>

    <table>
        <tr>
            <th class="day-col">Day</th>
            <th class="hour-col">8am</th>
            <th class="hour-col">9am</th>
            <th class="hour-col">10am</th>
            <th class="hour-col">11am</th>
            <th class="hour-col">12pm</th>
            <th class="hour-col">1pm</th>
            <th class="hour-col">2pm</th>
            <th class="hour-col">3pm</th>
            <th class="hour-col">4pm</th>
            <th class="hour-col">5pm</th>
        </tr>
        <tr>
            <th>Mon</th>
            <td>
                <div class="hour-blocks">
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Tues</th>
            <td>
                <div class="hour-blocks">
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Wed</th>
            <td>
                <div class="hour-blocks">
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Thurs</th>
            <td>
                <div class="hour-blocks">
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Fri</th>
            <td>
                <div class="hour-blocks">
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="active-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                    <div class="inactive-block"></div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <button>Submit</button>
</body>
</html>
