{{define "schedule"}}
<div class="card">
    <table>
        <colgroup>
            <col class="day-col">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col class="total-col">
        </colgroup>
        <tr class="header-row">
            <th></th>
            <th class="hour-label">8am</th>
            <th class="hour-label">9am</th>
            <th class="hour-label">10am</th>
            <th class="hour-label">11am</th>
            <th class="hour-label">12pm</th>
            <th class="hour-label">1pm</th>
            <th class="hour-label">2pm</th>
            <th class="hour-label">3pm</th>
            <th class="hour-label">4pm</th>
            <th class="hour-label">5pm</th>
            <th></th>
        </tr>
        {{ range .Days }}
            <tr>
                <th class="day-name">{{ .DayName }}</th>
                {{ range .Hours }}
                    <td>
                        <div class="hour-blocks">
                            {{ range .Blocks }}
                                <div class="inactive-block" data-value="{{ .Time }}"></div>
                            {{ end }}
                        </div>
                    </td>
                {{ end }}
                <td class="total">0.00 hrs</td>
            </tr>
        {{ end }}
    </table>
</div>

<button>Submit</button>
{{end}}
