{{ define "week-view" }}
    {{ range .Week.Days }}
        <tr>
            <th class="day-name">{{ .DayName }}</th>
            <td colspan="10">
                <div class="hour-blocks">
                    {{ range .Hours }}
                        <div
                            class="block {{ if .Active }}active{{ end }} {{ if $.EditMode }}edit{{ end }}"
                            data-time="{{ .Time }}"
                            data-day="{{ .DayName }}"></div>
                    {{ end }}
                </div>
            </td>
            <td id="total-{{ .DayName }}" class="total day-total">{{ printf "%.2f" .TotalTime }} hrs</td>
        </tr>
    {{ end }}
{{ end }}
