{{ define "week-view" }}
    {{ range .Days }}
        <tr>
            <th class="day-name">{{ .DayName }}</th>
            {{ range .Hours }}
                <td>
                    <div class="hour-blocks">
                        {{ range .Blocks }}
                            <div class="block" data-time="{{ .Time }}" data-day="{{ .DayName }}"></div>
                        {{ end }}
                    </div>
                </td>
            {{ end }}
            <td class="total">0.00 hrs</td>
        </tr>
    {{ end }}
{{ end }}
